<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pandawork.mapper.SectionMapper">

    <select id="countAll" resultType="int">
        SELECT COUNT(1)
        FROM `t_section`
    </select>

    <select id="selectSectionById" resultMap="pw.Section" >
        SELECT *
        FROM `t_section`
        WHERE `id` = #{id}
    </select>

    <insert id="insertSection">
        INSERT INTO `t_section`
        (section_name)
        VALUES (#{section.sectionName})
    </insert>

    <update id="update">
        UPDATE `t_section`
        SET `section_name` = #{section.sectionName},
        WHERE `id` = #{news.id}
    </update>

    <delete id="deleteSectionById">
        DELETE FROM `t_section`
        WHERE `id` = #{id}
    </delete>

    <select id="listAll" resultMap="pw.Section">
        SELECT *
        FROM `t_section`
    </select>

</mapper>